@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Righteous', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.main {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
}

.left {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.div-img {
    height: 30%;
    display: flex;
    justify-content: center;
}

.div-img img {
    height: 240px;
    width: 240px;
    border-radius: 50%;
}

.div-info {
    height: 70%;
}

.div-info h1 {
    text-align: center;
    color: #006699;
}

.right {
    width: 70%;
    padding-left: 30px;
}